body {
    padding: 0;
    background-color: #f9f9f9;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FFFCFCFC',endColorstr='#FFF9F9F9');
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(10%,#fcfcfc),color-stop(90%,#f9f9f9));
    background-image: -webkit-linear-gradient(#fcfcfc 10%,#f9f9f9 90%);
    background-image: -moz-linear-gradient(#fcfcfc 10%,#f9f9f9 90%);
    background-image: -o-linear-gradient(#fcfcfc 10%,#f9f9f9 90%);
    background-image: linear-gradient(#fcfcfc 10%,#f9f9f9 90%);
    font-family: Flux-Regular,SourceSansProRegular,Arial,sans-serif;
}

.blog-description {
    font-size: 20px;
    color: #ffd343;
}

.category-description{
    border-top: 4px solid #75a8d3;
    padding: .5em .5em .4em .75em;
}

/*****************************************************************************/
/*
/* tagbox
/*
/*****************************************************************************/

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }

/*****************************************************************************/
/*
/* table
/*
/*****************************************************************************/

table{
    border-collapse: collapse;
    border: 1px solid #caccce;
    width: 100%;
    margin-bottom: 5px;
    font-family: Calibri;
}

table th{
    padding: .5em .5em .4em .75em;
}

table td{
    border: 1px solid #caccce;
    padding: .5em .5em .4em .75em;
}

tr:nth-child(even) {
    background-color: #f2f4f6;
    margin-right: 0;
}

/*****************************************************************************/
/*
/* twitter
/*
/*****************************************************************************/

.twitter {
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
}

/*****************************************************************************/
/*
/* posts
/*
/*****************************************************************************/

article{
    text-align: justify;
}

.posts{
    text-align: justify;

}

code{
    font: Consolas, "Liberation Mono", Courier, monospace;
}

/*****************************************************************************/
/*
/* font awesome
/*
/*****************************************************************************/

.fontIcon{
    font-size: 40px;
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 0px;
    color: #ffd343;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3399CC;
}