---
  layout: default
---

<article>
  <div class="posts">
    <div class="post-header">
      <h2><a href="{{ post.url }}">{{ page.title }}</a></h2>
      <div class="post-meta">
        <i class="fa fa-calendar icon-header" title="date authored"></i>{{ page.date | date_to_string }}
        <i class="fa fa-user icon-header" title="author"></i>John Ryan
        <i class="fa fa-tag icon-header" title="tags"></i>
        {% for tag in page.tags%} {{tag}} {%endfor%}
      </div>
    </div>
    <br/>
    <div class="post-content">
      {{ content }}
    </div>

    <a href="{{ post.url }}">Read more &raquo;</a>
  </div>
</article>

{% if site.disqus_enabled %} {% include /disqus %} {% endif %}
